.list-group {
  color: ghostwhite;
  background: rgb(77, 80, 97, 0.25);
  border-radius: 0 !important;
}

.list-group active {
  color: #e8c547;
}

.list-group-item {
  background:none !important;
}

#note-list {
  max-height: 100%;
}

#note-list-item {
  color: ghostwhite;
  backdrop-filter: none;
}

#note-card {
  width: 100%;
  height: inherit;
  max-height: 88vh;
  color: ghostwhite;
  background: rgb(77, 80, 97, 0.25);
  border-radius: 0 !important;
  overflow-y: auto;
}

#note-card-title {
  width: 100%;
  background: rgb(77, 80, 97, 0.5);
  color: ghostwhite;
}

.note-active {
  color: #e8c547 !important;
}

.noteboard-row {
  height:100%
}

::-webkit-scrollbar {
  width: 2em;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: blueviolet;
}

.note-small-text {
  font-size: 0.8em;
}

@supports (scrollbar-color: #4d5061 #30323d) {
  * {
    scrollbar-color: #4d5061 #30323d;
    scrollbar-width: thin;
  }
}
